
<!DOCTYPE html>
<html lang="en">
    <head>
        <% include head.ejs %>
    </head>

    <body>
        <% include header.ejs %>

        <div class="container">

            <div class="starter-template">
                <h2>YouTube +-</h2>
                Welcome to the YouTube +- (plus minus). This is a sentiment analysis application that uses <a href ="https://www.npmjs.com/package/Sentimental">SentiMental</a>.
                <p>
                <form method="post">
                    <div class="form-group">
                        <label for="taken">Enter YouTube video link:</label>
                        <input name="video" id="input" type="text" class="form-control">
                    </div>
                    <input type="submit" name="video1" class="btn btn-primary btn-lg" value="Submit" id="submit-button"/>
                </form>
                <div id="video_info">
                    <table style="width:100%">
                        <tr>
                            <th>Video +- Sentiment Score</th>
                            <th>Comparative score </th> 
                            <th>(Some) Postive words</th>
                            <th>(Some) Negative words</th>
                        </tr>
                        <tr>
                            <td><%= score %></td>
                            <td><%= comp %></td>
                            <td><ul>
                                <% for (var i = 0; i < Math.min(5, neg.length); i++) { %>
                                <li><%= pos[i] %></li>
                                <% }; %>
                                <li>...</li>
                                </ul>
                            </td>
                            <td>                <ul>
                                <% for (var i = 0; i < Math.min(5, neg.length); i++) { %>
                                <li><%= neg[i] %></li>
                                <% }; %>
                                <li>...</li>
                                </ul></td>

                        </tr>
                    </table>

                </div>
                <div><p>
                    <u><strong>Score</strong></u> is calculated by adding the sentiment values of recongnized words. More negative scores could mean more negative words used or there are more strongly negative words used compared to positive valued words.
                    </p>
                    <p>
                    <u><strong>Comparative</strong></u> score is the sum of all the values of the words divided by the number of recognized words. A score closer to 0 means it's more neutral.
                    </p>
                    <p>
                    <u><strong>Positive words</strong></u> is the list of postive words that were found in AFINN list.
                    </p>
                    <p>
                    <u><strong>Negative words</strong></u> is the list of negative words that were found in AFINN list.
                    </p>

                </div>

            </div>

        </div><!-- /.container -->


        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
        <script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react.js"></script>
        <script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react-dom.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
